3to2==1.1.1
appdirs==1.4.3
applib==1.2
astroid==2.3.3
attrs==19.3.0
bcrypt==3.1.7
black==19.10b0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cmdln==2.0.0
CodeIntel==2.0.0
entrypoints==0.3
esprima==4.0.1
flake8==3.7.9
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Login==0.4.1
gunicorn==20.0.3
Inflector==3.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
libclang-py3==3.9.0
MarkupSafe==1.1.1
mccabe==0.6.1
pathspec==0.6.0
peewee==3.11.2
pipenv==2018.11.26
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pylint==2.4.4
regex==2019.11.1
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
virtualenv==16.7.7
virtualenv-clone==0.5.3
Werkzeug==0.16.0
wrapt==1.11.2
zope.cachedescriptors==4.3.1
